body {
  margin: 0px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 80px 1fr;
  --first-color: rgb(45, 59, 103);
  --second-color: rgb(79, 109, 178);
  --background-grey: rgb(249, 249, 249);
  --third-color: rgb(229, 255, 228);
}

/* Header and its elements */

header {
  background: linear-gradient(
    10deg,
    var(--first-color) 35%,
    var(--second-color) 100%
  );
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  box-shadow: 0px 1px 3px black;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 100px;
  color: white;
}

#siteLogo {
  align-self: center;
  justify-self: center;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

#stats {
  display: flex;
  align-items: center;
  gap: 40px;
}

#stats p {
  font-size: 25px;
  margin: 0px;
}

/* Left bar with all the projects started */

#projectBar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: white;
  min-height: calc(100vh - 100px);
  z-index: 1;
  box-shadow: 0px 0px 3px black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#btnCreateProject {
  font-size: 20px;
  border-radius: 5px;
  padding: 20px 40px;
  background: linear-gradient(
    10deg,
    var(--first-color) 35%,
    var(--second-color) 100%
  );
  box-shadow: 0px 0px 5px black;
  border-style: none;
  font-weight: bold;
  color: var(--dark-blue);
  color: white;
}

/* Board with all the tasks */

#addConsole {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
}

#addTask {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: linear-gradient(
    10deg,
    var(--first-color) 35%,
    var(--second-color) 100%
  );
  box-shadow: 0px 0px 5px black;
  border-style: none;
  font-weight: bold;
  color: var(--dark-blue);
  color: white;
}

#board {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: var(--background-grey);
  height: auto;
  z-index: 0;
  padding: 50px;
}

/* Task and its elements */

/* Form and its elements */

#addConsole {
  background-color: var(--background-grey);
}

#formDiv {
  padding: 10px 30px;
}

#formDiv form {
  display: flex;
  gap: 20px;
}

textarea {
  resize: none;
}

#inputName,
#inputDate {
  align-self: center;
}

#formDiv form button {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    10deg,
    var(--first-color) 35%,
    var(--second-color) 100%
  );
  box-shadow: 0px 0px 5px black;
  border-style: none;
  font-weight: bold;
  align-self: center;
  color: white;
}

legend {
  text-align: center;
}

fieldset {
  border-style: none;
}

textarea {
  align-items: center;
}
